@import url(quicksand.css);

main {
  display: grid;
  /* vertical center   */
  align-content: center;
  /*  extend to viewport height  */
  height: 100vh;
  grid-template-columns: 2fr;
  grid-template-areas:
    "time date";
}

.dots {
  font-size:5rem;
}


.comma {
  font-size:2rem;}

.time {
font-family: 'Quicksand-Regular';
  margin: auto;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr 1fr 2fr 1fr 1fr;
  grid-template-areas:
  "hours . minutes . seconds amOrPM";
}

.date {
  font-size: 2rem;
  margin: auto;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
  " month dayOfMonth year . " 
  " dayOfWeek . . .";
}


.hours {font-size: 5rem;
  grid-area: hours;
}

.minutes { font-size: 5rem;
  grid-area: minutes;
}

.seconds {font-size: 3rem;
  grid-area: seconds;
}

.amOrPM {font-size: 2rem;
  grid-area: amOrPM;
}

.month {
  grid-area: month;
}

.dayOfMonth {
  grid-area: dayOfMonth;
}

.year {
  grid-area: year;
}

.dayOfWeek {
  grid-area: dayOfWeek;
}