@import url(quicksand.css);




main {
  display: grid;
  /* vertical center   */
  align-content: center;
  /*  extend to viewport height  */
  height: 100vh;
  grid-gap: 3em;
  grid-template-columns: 2fr 2fr ;
  grid-template-areas:
    "time  date .";
}

.dots {
  font-size:1em;
}


.time {
  
  font-family: 'Quicksand-Variable';
  margin: auto;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr 1fr 2fr 1fr 1fr;
  grid-template-areas:
  "hours . minutes . seconds amOrPM";
}

.date {
  font-family: 'Quicksand-Variable';
  margin: auto;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
  " month dayOfMonth year . " 
  " dayOfWeek . . .";
}


.hours {
  font-size: 2em;
  grid-area: hours;
}

.minutes { 
  font-size: 2em;
  grid-area: minutes;
}

.seconds {font-size: 1em;
  grid-area: seconds;
}

.amOrPM {font-size: 1em;
  grid-area: amOrPM;
padding-top: 100%;
}

.month {
  font-size: 1em;
  grid-area: month;
}

.dayOfMonth {
  font-size: 1em;
  grid-area: dayOfMonth;
}

.year {
    font-size: 1em;
  grid-area: year;
}

.dayOfWeek {
  font-size: 1em;
  grid-area: dayOfWeek;
}


